<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :title, placeholder: "タイトルをいれてください" %>
    <%= f.text_area :content, placeholder: "どんな場所ですか？" %>
    <%= f.text_area :address, placeholder:"住所、場所をいれてください" %>

     <%= form_with model:@post, local: true do |f| %>
    <%= f.text_field :tag_ids, class: "form_control", id:'tag_ids', placeholder:"タグをつけてみましょう。区切るには','。" %>
  <% end %>


<span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>

</span>

    <%= f.submit "投稿する", class: "button", onclick: "codeAddress()" %>

  </div>
  

<% end %>

<script type="text/javascript">
  $('#post_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('写真の最大サイズは5MBです.');
    }
  });
</script>
