<p id="notice"><%= notice %></p>

<p>
  <div class="posttitle">
  <%= @post.title %>
  </div>
</p>


<p>
  <div class="postcontent">
  <%= @post.content %>
  </div>
</p>

<p>
<%= image_tag @post.picture.url if @post.picture? %>
</p>


<p>
  <div class="postmap">
  <%= @post.address %>
  </div>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @post.latitude %>
  <%= @latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @post.longitude %>
</p>


<script>initMap();</script>

<script src="http://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLEMAP_API_KEY"] %>"></script>

<script type="text/javascript">
  function initMap() {

    var test = {lat: 35.685175, lng: 139.752799};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: new google.maps.LatLng(35.685175,139.752799)
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @post.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
      position:test,
      map: map,
      title: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>


